/* GLOBAL */
*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Prata", serif;
    /* overflow: hidden; */
}

/* COULEURS */
:root {
    --or: #DDBF5D;
    --noir: #000;
    --blanc: #fff;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--or);
}

.navbar {
    background-color: var(--or) !important;
    padding: 0; /* Ajouté pour enlever les marges et remplissages par défaut */
}

nav {
    display: flex;
    align-items: center;
}

nav a img {
    margin-right: 20px; /* Ajustez cette valeur pour l'espacement entre le logo et les liens */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px; /* Ajustez cette valeur pour définir l'espace entre les liens */
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--blanc) !important;
    text-decoration: none;
}


/* MAIN */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.images img {
    width: calc(33.333% - 20px);
    object-fit: cover;
}

.text {
    margin-bottom: 20px;
}

.text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.description {
    text-align: center;
}

.description p:first-of-type {
    font-style: italic;
}

.description a {
    background-color: #d4b24c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}


/* FOOTER */
footer{
    background-color:var(--or);
    padding: 20px;
    margin: 20px 0;
}

div p{
    color: var(--blanc);
}
div a{
    color: var(--blanc);
}