/* GLOBAL */
*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Prata", serif;
    /* overflow: hidden; */
}

/* COULEURS */
:root {
    --or: #DDBF5D;
    --noir: #000;
    --blanc: #fff;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--or);
}

.navbar {
    background-color: var(--or) !important;
    padding: 0; /* Ajouté pour enlever les marges et remplissages par défaut */
}

nav {
    display: flex;
    align-items: center;
}

nav a img {
    margin-right: 20px; /* Ajustez cette valeur pour l'espacement entre le logo et les liens */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px; /* Ajustez cette valeur pour définir l'espace entre les liens */
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--blanc) !important;
    text-decoration: none;
}

/* 
/ SECTION / */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
}

/* / FORMULAIRE / */
.form-label {
    color: var(--text-color);
}

.form-control {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-color: var(--primary-color);
}

.form-select {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--primary-color);
    color: var(--text-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--text-color);
}

.btn-secondary:hover {
    background-color: var(--background-color);
    border-color: var(--background-color);
    color: var(--text-color);
}


/* FOOTER */
footer{
    background-color:var(--or);
    padding: 20px;
    margin: 20px 0;
}

div p{
    color: var(--blanc);
}
div a{
    color: var(--blanc);
}