/* GLOBAL */
*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Prata", serif;
}

/* COULEURS */
:root {
    --or: #DDBF5D;
    --noir: #000;
    --blanc: #fff;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 150px; /* Ajustez cette valeur pour définir l'espace entre les liens */
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--or);
    text-decoration: none;
}